<div class="home-ui-outer-container">
  <div class="video-container">
    <video playsinline autoplay muted loop>
      <source src="assets/partical_1.mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="about-outer-container">
    <div class="image-container">
      <img src="assets/profile_image.jpg" alt="Kevin D'mello"/>
    </div>
    <h1>Hello. I'm <span>Kevin D'mello</span>.</h1>
    <h1>I'm a full-stack web developer.</h1>
    <h5><span>Dream.</span> Idea. Code.</h5>
    <button id="know-more-button">
      Know more about me
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
  </div>
</div>
