<div class="about-outer-container">
  <div class="about-left-container">
    <h3 class="micro-heading">About me</h3>
    <h2 class="heading">Who am I?</h2>
    <p class="paragraph">
      I'm a full-stack developer for Cateina Technologies in Mumbai, India (IN).<br />
      A <span>Software Engineer</span> who welcomes challenges.<br />
      I have a serious passion for software and building highly performant applications that solve real-world problems and provide user with awesome experience.<br />
      A software developer, with <span>3+ years</span> of experience in building, maintaining and designing professional web applications and websites.
    </p>
  </div>
  <div class="about-right-container">
    <img src="assets/developer-illustration.png"/>
  </div>
</div>
