@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  background: #0c0c0c;
}


// Colors
// $orangered: #fe4a26;
$orangered: #EC4B28;
$darkmint: #649170;
$darkgrey: #0c0c0c;
$grey: #b4b4b4;
$white: #f7f8fa;
$cream-white: #fdf7d7;
$brown: #bc9b5a;

.micro-heading, .micro-heading-dark {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  margin: 0% 0% 2% 0%;
}

.heading, .heading-dark {
  font-size: 190%;
  font-weight: 600;
  margin: 0% 0% 2% 0%;
}

.paragraph, .paragraph-dark {
  font-size: 105%;
  margin: 0% 0% 2% 0%;
  font-weight: 300;
  span {
    font-weight: 500;
    color: $orangered;
  }
}

.micro-heading {
  color: $orangered;
}

.micro-heading-dark {
  color: $brown;
  font-weight: 500;
}

.heading {
  color: $brown;
}

.heading-dark {
  color: $orangered;
}

.paragraph {
  color: $cream-white;
}

.paragraph-dark {
  color: $darkgrey;
}
